:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;
    --background-color: #2F303A;
    --background-color_2: #F5F4FA;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
 .accent {
    color: var(--accent-color);
 }
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .btn {
    display: inline-block;
    border-radius: 4px;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
  }

/*---------------HEADER---------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: #000000;   
}
.header-link,
.header-contact {
    font-weight: 500;
   
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav-list {
    display:flex;
    margin-left: 93px;
}
.header-nav-list .item + .item {
    margin-left: 50px;
}
.header-nav-list .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-contact {
    display: flex;
    align-items: center;
}
.header-contact-list .item + .item {
    margin-left: 50px;
}
.header-contact-list {
    display: flex;
    margin-left: auto;
}
.header-link {
    color: var(--title-text-color);
}
.header-nav-list .header-link:hover,
.header-nav-list .header-link:focus {
    color: var(--accent-color);
}
.header-nav-list .header-link.current {
    color: var(--accent-color);
}

.header-contact {
    color: var(--primary-text-color);   
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

/*---------------HERO---------------*/
.section-hero {
    background: var(--background-color);
    text-align: center;
}
.hero-title {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.hero-btn {
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    
    color: var(--primary-white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
    color: #000000;
}

/*---------------PROPERTIES---------------*/
.section-properties {
    margin: 0;
    padding-top: 94px;
}
.properties-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}
.properties-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.properties-list .item {
    width: 270px;
}
.properties-list .item + .item {
    margin-left: 30px;
}    
.properties-text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
}

/*---------------EMPLOYMENT---------------*/
.section-employment {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;

    text-align: center;
}
.employment-list {
    display: flex;
}
.employment-list > .employment-item + .employment-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}
.employment-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}
.employment-title {
    margin-top: 0;
    margin-bottom: 50px;
}

/*---------------TEAM---------------*/
.section-team {
    padding-top: 95px;
    padding-bottom: 95px;

    text-align: center;

    background-color: var(--background-color_2);
}
.team-list > .team-item + .team-item {
    margin-left: 30px;
}
.team-list {
    display: flex;
}
.team-list > .team-item {
    width: 270px;
    height: 368px;
    
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.team-info,
.team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-info {
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-text {
    margin-top: 0;

    color: var(--primary-text-color);
}

/*---------------PORTFOLIO---------------*/
.section-portfolio {
    margin-top: 0;
    margin-bottom: 94px;
    padding-top: 94px;
}
.portfolio-list {
    display: flex;
    justify-content: center;
}
.portfolio-list .item + .item {
    margin-left: 8px;  
}
.portfolio-btn {
    padding: 6px 22px;
    margin-top: 0;
    margin-bottom: 34px;

    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--background-color_2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
    background: var(--accent-color);
}
.portfolio-item {
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
}
.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.portfolio-img > .item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: calc((100%-60px) / 2) ;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.portfolio-title {
    margin-top: 0;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.86x;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*---------------FOOTER---------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color);
}
.footer-logo{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
.footer-contact-list .item:not(:last-of-type) {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-contact a[href="https://goo.gl/maps/PAnnSUerjHj3gwqy8"] {
    color: var(--primary-white-color);
}    
.footer-contact {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.add {
    color: var(--primary-white-color);
}